*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./assets/netflix_back.jpg);
  background-size: cover;
  background-position: center;
}